<h1>Parcel Shipping Program</h1>
<form action="/result">
  <div class="form-group">
    <label for="string">Parcel Height:</label>
    <input id="string" name="parcel_height" class="form-control" type="string">
    <label for="string">Parcel Length:</label>
    <input id="string" name="parcel_length" class="form-control" type="string">
    <label for="string">Parcel Width:</label>
    <input id="string" name="parcel_width" class="form-control" type="string">
    <label for="string">Parcel Weight:</label>
    <input id="string" name="parcel_weight" class="form-control" type="string">
  </div>
  <button type="submit" class="btn-success">Send</button>
</form>
