<h1>Parcel Shipping Program</h1>
<form action="/result">
  <div class="form-group">
    <label for="string">Parcel Height in inches:</label>
    <input id="string" name="parcel_height" class="form-control" type="string">
    <label for="string">Parcel Length in inches:</label>
    <input id="string" name="parcel_length" class="form-control" type="string">
    <label for="string">Parcel Width in inches:</label>
    <input id="string" name="parcel_width" class="form-control" type="string">
    <label for="string">Parcel Weight in pounds:</label>
    <input id="string" name="parcel_weight" class="form-control" type="string">
  <!-- </div>

   <div class="form-group"> -->
    <select class="form-control" id="parcel_speed" name="parcel_speed">
      <option value="next day">next day</option>
      <option value="two day">two day</option>
      <option value="one week">one week</option>
    </select>
   <!-- </div>

   <div class="form-group"> -->
    <select class="form-control" id="parcel_distance" name="parcel_distance">
      <option value="domestic">domestic</option>
      <option value="international">international</option>
    </select>
  </div>


  <button type="submit" class="btn-success">Send</button>
</form>
